*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: hsl(0, 100%, 74%);
    width: 100vw;
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
}
.sign-up{
    display: flex;
    /* justify-content: center;
    align-items: center; */

}